// Colors
$azul_1: #29ABE2;
$azul_2: #15769E;

$laranja_1: #f1c40f;
$laranja_2: #f39c12;

$verde_1: #29E2A3;
$verde_2: #27ae60;

$magenta_1: #C82064;
$magenta_2: #95184B;

$claro_1: #FAFAFA;
$claro_2: #F2F2F2;

$texto: #95989A;